In [1]:
#Read Input:
    #Accept text input from the user or from a file.
import pandas as pd
pd.set_option('display.max_colwidth',100)
df = pd.read_csv('Spam.csv',encoding='ISO-8859-1',header = None )
df.head()

,0,1,2,3,4
0,v1,v2,NaN,NaN,NaN
1,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there g...",NaN,NaN,NaN
2,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
3,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...,NaN,NaN,NaN
4,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN

In [2]:
df.shape

(5573, 5)

In [3]:
df.isnull().sum()

0       0
1       0
2    5523
3    5561
4    5567
dtype: int64

In [4]:


# Read the CSV file (make sure to specify the correct delimiter)
#df = pd.read_csv('spam.csv', delimiter=',')

# Drop columns where all values are null
df_cleaned = df.dropna(axis=1, how='any')
df_cleaned = df_cleaned.reset_index(drop=True)
# Check the columns
print(df_cleaned.columns)


# Ensure the DataFrame has the correct number of columns
print(df_cleaned.head())

Index([0, 1], dtype='int64')
      0  \
0    v1
1   ham
2   ham
3  spam
4   ham

                                                                                                     1
0                                                                                                   v2
1  Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there g...
2                                                                        Ok lar... Joking wif u oni...
3  Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...
4                                                    U dun say so early hor... U c already then say...

In [5]:
df_cleaned.columns

Index([0, 1], dtype='int64')

In [6]:
# If the CSV file does not have a header row
df = pd.read_csv('spam.csv', encoding='ISO-8859-1',header=None,)

# Manually set column names
df_cleaned.columns = ['label','body_text']  # Replace with actual column names
print(df_cleaned.head())
print(df_cleaned.columns)

  label  \
0    v1
1   ham
2   ham
3  spam
4   ham

                                                                                             body_text
0                                                                                                   v2
1  Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there g...
2                                                                        Ok lar... Joking wif u oni...
3  Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...
4                                                    U dun say so early hor... U c already then say...
Index(['label', 'body_text'], dtype='object')

In [7]:
import string

# Display all punctuation characters
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [8]:
"I like NLP." == "I like NLP"

False

In [9]:
def remove_punct(text):
    text_nopunct = "".join([char for char in text if char not in string.punctuation])
    return text_nopunct

# Apply the remove_punct function to a DataFrame column 'body_text'
df_cleaned['body_text_clean'] = df_cleaned['body_text'].apply(lambda x: remove_punct(x))

# Display the first few rows of the DataFrame
df_cleaned.head()

,label,body_text,body_text_clean
0,v1,v2,v2
1,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there g...",Go until jurong point crazy Available only in bugis n great world la e buffet Cine there got amo...
2,ham,Ok lar... Joking wif u oni...,Ok lar Joking wif u oni
3,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005 Text FA to 87121 to receive e...
4,ham,U dun say so early hor... U c already then say...,U dun say so early hor U c already then say